apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${ca_certificate}
    server: ${host}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: default
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: default
  user:
    token: ${token}